@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
body {
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

a {
  transition: color 0.2s;
}

a:hover {
  color: var(--color-secondary);
}